{% extends 'layout.twig' %}

{% block body %}
<div class="container">

<div class="login-form">
<div class="main-div">
    
    <form id="Login" method="POST">

        <div class="form-group">


            <input type="email" class="form-control" name="email" placeholder="adresse email">

        </div>

       
       
        <button type="submit" class="btn btn-primary">Se connecter</button>

    </form>
    </div>

</div></div></div>
{% endblock %}
