{% extends 'layout.twig' %}

{% block body %}

<div class="container">

    <div id="main">
        
        {% for Ami in Amis %}
            
            <div class="listFriend bg-light rounded">
            
                <img {{ Ami.cheminfichier}}" class="avatar">
                <a href="/profil/{{Ami['_id']}}" class="violet font-weight-bold">{{ Ami['prenom']}}</a>
                <a href="/delFriends/{{Ami['_id']}}"><i class="fa fa-times fa-2x violet" aria-hidden="true"></i></a>


            </div>


        {% endfor %}

    </div>
    <div id="side2">

    </div>

















</div>


{% endblock %}