{% extends 'layout.twig' %}

{% block body %}
<div id="updateUser">
    <form method="post" action="/user/update/{{pers._id}}">
        <div class="container bg-dark rounded mt-4">
            <div class="row">
                <div class="col-sm-12">
                    <div id="updateUser">
                        <h5 class="text-white pt-3 pb-3">Modifier vos goûts</h5>
                        <div class="form-group">
                            <textarea class="form-control mb-2" name="post" id="post2" rows="3" placeholder="Quel type de metal écoutez-vous ?" maxlength="150" required="" wrap="" sentences=""></textarea>
                            <div class="form-group mb-0">
                                <textarea class="form-control" name="post" id="post2" rows="3" placeholder="Quels sont vos groupes préférés ?" maxlength="150" required="" wrap="" sentences=""></textarea>
                                <input class="btn text-white purple btn-sm mt-2 d-block envoyer-btn" type="submit" value="Envoyez">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}








